{% extends "layout.html" %}

{% block head %} Task Master {% endblock %}

{% block body %}
    <h1>Hey this is landing HomePage</h1>
    <div class="content">
        <h1>task-master</h1>
        <table>
            <tr>
                <th>Task</th>
                <th>Due Date</th>
                <th>Actions</th>
            </tr>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.name }}</td>
                    <td>{{ task.duedate }}</td>
                    <td>
                        <a href="/update/{{task.id}}">Update</a>
                        <a href="/delete/{{task.id}}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </table>


        <form action="/" methods="POST">
            <input type="text" name="task" placeholder="Enter a task">
            <input type="date" name="due_date">
            <input type="text" name="description" placeholder="Task description">
            <input type="checkbox" name="is_executed"  value="False">is executed</input>
            <button type="submit">Add Task</button>
        </form>
        </div>
{% endblock %}